* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif ;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
APP BAR
*/

.app-bar{
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

.app-bar .app-bar__menu{
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand{
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1{
    color: #db0000;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
}

.app-bar .app-bar__navigation {
    position: absolute;
    z-index: 99999;
    top: 50px;
    left: -250px;
    width: 250px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
    font-size: 1.5rem;
    height: 100vh;
}

.app-bar .app-bar__navigation.open{
    left: 0 !important;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
}

/* 
MAIN CONTENT
*/

main {
    padding: 32px;
    flex: 1;
}

.content{
    margin: 0 auto;
    min-height: 100%;
    font-weight: normal;
}

/*
MOVIES CONTENT 
*/

#movies {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 16px;
    overflow: hidden;
    margin: 32px 0;
}

/* MOVIE ITEM  */

.movie-item {
    width : 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 16px 0;
    padding: 2rem 1rem;
}

.movie-item__header {
    position: relative;
}

.movie-item__header .movie-item__header__poster{
    width: 100%;
}

.movie-item__header .movie-item__header__rating {
    position: absolute;
    display: inline-block;
    left: 16px;
    top: 20px;
    /* z-index: 99; */
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
}

.movie-item__content {
    padding: 1.5rem 1rem;
    display: inline-block;
    position: relative;
}

.movie-item__content h3 {
    margin: 10px 0 ;
}

.movie-item__content h3 a{
    color: #db0000;
    text-decoration: none;
}

.movie-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.movie-item__content .movie-item__content__button {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #eb0c0cda;   
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 3px 4px 8px 4px rgba(0,0,0,0.6);
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: white;
}

.movie-item__content > a {
    text-decoration: none;
}

/* movie detail */
/* Styling judul halaman */
.movie__title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Warna teks judul */
    margin-bottom: 10px;
  }
  
  /* Styling gambar poster */
  .movie__poster {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan poster */
    margin-bottom: 20px;
  }
  
  /* Styling informasi film */
  .movie__info {
    background-color: #f9f9f9; /* Warna latar belakang informasi film */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling judul informasi film */
  .movie__info h3 {
    font-size: 18px;
    color: #333; /* Warna teks judul informasi film */
    margin-bottom: 15px;
  }
  
  /* Styling judul tagline, release date, duration, dan rating */
  .movie__info h4 {
    font-size: 16px;
    color: #555; /* Warna teks judul informasi tambahan */
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  /* Styling konten tagline, release date, duration, dan rating */
  .movie__info p {
    font-size: 14px;
    color: #333; /* Warna teks informasi tambahan */
    margin-bottom: 15px;
  }
  
  /* Styling overview film */
  .movie__info__overview {
    margin-top: 20px;
  }
  
  /* Styling judul overview film */
  .movie__info__overview h3 {
    font-size: 18px;
    color: #333; /* Warna teks judul overview */
    margin-bottom: 15px;
  }
  
  /* Styling konten overview film */
  .movie__info__overview p {
    font-size: 16px;
    color: #444; /* Warna teks konten overview */
  }
  
  
  /*
    Footer
  */
  
  footer {
    padding: 16px;
  }
  
  footer p {
    text-align: center;
    color: #aaaaaa;
  }
  
  footer p a {
    color: #db0000;
    text-decoration: none;
  }
  


